{
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "overrides": [
        {
            "files": ["*.md", "*.mdx", "*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
