@function opacity($color, $opacity) {
    @return color-mix(in srgb, $color $opacity, transparent);
}

// border radius, please!
code {
    border-radius: 0.25em;
}

:root {
    --ec-frm-edBg: var(--sl-color-gray-5);
    --ec-frm-edActTabBg: var(--sl-color-gray-5);
}

// code blocks
.expressive-code {
    // more padding around the code
    --ec-codePadBlk: 1rem;
    --ec-codePadInl: 1.5rem;

    // more padding around the "tab"
    --ec-frm-edTabsMargBlkStart: 0.25rem;
    --ec-frm-edTabsMargInlStart: 0.25rem;

    // we love border radius here
    --ec-brdRad: 0.5rem;

    // mark colours
    --ec-tm-markBg: #{opacity(var(--sl-color-accent-low), 30%)};
    --ec-tm-markBrdCol: var(--sl-color-accent);
    .ec-line.ins {
        --tmLineBgCol: #{opacity(var(--ec-tm-insBg), 30%)};
    }
    .ec-line.del {
        --tmLineBgCol: #{opacity(var(--ec-tm-delBg), 30%)};
    }

    figure {
        background: var(--code-background);

        figcaption.header {
            // no background
            background: unset;

            // no borders
            border: none;
            border-bottom: 1px solid var(--sl-color-gray-5);

            .title {
                position: relative;
                overflow: visible;

                // rounder tab
                --tab-border-radius: calc(0.75rem - 0.25rem);

                // no border
                border: none;
                &::after {
                    display: none;
                }
            }
        }
        // line under tab
        &.has-title:not(.is-terminal) .title::after {
            content: '';
            display: unset;
            position: absolute;
            inset: unset;
            inset-inline: 0.75em;
            bottom: -1px;
            overflow: visible;

            height: 2px;
            background-color: var(--sl-color-accent);

            border: none;
            border-radius: 2px;
        }
        // remove borders
        &.has-title:not(.is-terminal) figcaption.header::before {
            display: none;
        }
        &.is-terminal figcaption.header::after {
            display: none;
        }

        pre {
            background: unset;
            border: none;
        }

        // fix copy button position
        &.has-title .copy {
            --button-spacing: calc(
                var(--ec-frm-edTabsMargBlkStart) +
                    (var(--ec-uiPadBlk) + var(--ec-frm-edActTabIndHt)) * 2 +
                    1rem + 1rem
            );
        }

        // nice circular button
        .copy button {
            border-radius: 50%;

            box-sizing: content-box;
            padding: 0.1rem;

            &::after {
                inset: 0.1rem;
            }
        }
    }
}
