starlight-file-tree {
    // use regular font
    font-family: var(--sl-font);

    background: unset;
    border: none;
}

.tree-entry .comment {
    font-family: var(--sl-font);

    // TODO: common indentation for all lines?
    padding-inline-start: 2rem;
}
