starlight-file-tree {
    // use regular font
    font-family: var(--sl-font) !important;

    background: unset !important;
    border: none !important;
}

.tree-entry .comment {
    font-family: var(--sl-font) !important;

    // TODO: common indentation for all lines?
    padding-inline-start: 2rem !important;
}
