.pagination-links {
    a {
        box-shadow: none;

        border-color: var(--sl-color-gray-5);
        transition: border-color 0.25s;

        & > span {
            font-size: var(--sl-text-sm);
        }

        &:hover {
            border-color: var(--sl-color-accent);
        }
    }
}

.link-title {
    font-size: var(--sl-text-base);
    color: var(--sl-color-text-accent);
}
