---
import type { Cuboid } from '@ts/minecraft';
import CuboidComponent from './Cuboid.astro';

interface Props {
    cuboids: Cuboid[];
}

const { cuboids } = Astro.props;
---

<span class="block">
    {cuboids.map((cuboid) => <CuboidComponent {cuboid} />)}
</span>

<style lang="scss">
    .block {
        display: inline-flex;
        vertical-align: middle;

        position: relative;
        width: calc(cos(45deg) * 2em);
        height: calc(cos(30deg) * 1em);
        margin: calc(cos(45deg) / 2 * 1em) 0;

        font-size: 1.25em;
    }
</style>
