---
import type { Cuboid } from '@ts/minecraft';
import CuboidComponent from './Cuboid.astro';

interface Props {
    cuboids: Cuboid[];
    size?: string;
}

const { cuboids, size = '1em' } = Astro.props;

const fontSize = `calc(${size} / ${1 + 0.34 + 0.37})`;
---

<span class="block" style={`font-size: ${fontSize}`}>
    {cuboids.map((cuboid) => <CuboidComponent {cuboid} />)}
</span>

<style lang="scss">
    .block {
        display: inline-flex;
        vertical-align: middle;

        position: relative;
        width: calc(cos(45deg) * 2em);
        height: calc(cos(30deg) * 1em);

        // i do not know where these numbers come from
        margin-top: 0.34em;
        margin-bottom: 0.37em;
    }
</style>
