@use './components/aside';
@use './components/card';
@use './components/code';
@use './components/file-tree';
@use './components/pagination';
@use './components/steps';

:root {
    // smaller titles
    --sl-text-h1: var(--sl-text-4xl);
    --sl-text-h2: var(--sl-text-3xl);
    --sl-text-h3: var(--sl-text-2xl);
    --sl-text-h4: var(--sl-text-xl);

    // nicer shadows
    --sl-shadow-sm: 0 0.5px 1px rgb(0 0 0 / 0.1), 0 1px 5px rgb(0 0 0 / 0.05) !important;
    --sl-shadow-lg: 0 3px 5px hsl(0 0 0 / 0.2), 0 5px 15px hsl(0 0 0 / 0.05) !important;

    // nicer badge colours
    --sl-badge-default-bg: var(--sl-color-accent-low) !important;
    --sl-badge-default-text: var(--sl-color-accent-high) !important;
    --sl-badge-default-border: transparent !important;
    &[data-theme='dark'] {
        --sl-badge-default-bg: var(--sl-color-gray-5) !important;
    }
}

// nicer colours
:root {
    --sl-color-purple-high: hsl(var(--sl-hue-purple), 80%, 90%);
    --sl-color-purple-low: hsl(var(--sl-hue-purple), 25%, 20%);
}
:root[data-theme='light'] {
    --sl-color-purple-high: hsl(var(--sl-hue-purple), 70%, 30%);
    --sl-color-purple-low: hsl(var(--sl-hue-purple), 85%, 95%);
}

@media (min-width: 50rem) {
    :root {
        // wider sidebar
        --sl-sidebar-width: max(
            17.5rem,
            calc(50vw + 40px - (var(--sl-content-width) + 15rem) / 2)
        );
        --sl-sidebar-pad-x: 2rem;

        // wider content (compensated with padding below)
        --sl-content-width: 45rem;
    }

    // make the content actually the size specified
    body > .page:has(> nav) .main-pane {
        width: calc(var(--sl-content-width) + 10rem) !important;
        max-width: 100%;

        > main {
            max-width: var(--sl-content-width) !important;
            margin-inline: auto;
        }
    }

    .sidebar-pane {
        // replace border with background colour
        background-color: var(--sl-color-bg-nav);
        border: none;

        // use background colour on header bar
        top: 0;
        padding-top: var(--sl-nav-height);

        .sidebar-content {
            // negative space behind sidebar
            padding-inline-start: max(
                calc(var(--sl-sidebar-width) - 17.5rem),
                var(--sl-sidebar-pad-x)
            );
        }
    }

    // make the right sidebar a fixed width
    .right-sidebar-container {
        width: 15rem;
    }

    .right-sidebar {
        // remove huge border
        border: none;

        .right-sidebar-panel {
            // more vertical padding!
            padding: 4rem 0;

            // add a smaller border
            > * {
                padding-inline: 1rem;
                border-inline-start: 1px solid var(--sl-color-gray-6);
            }
        }

        a {
            // bigger link text
            font-size: var(--sl-text-sm);

            // no excess padding
            margin-left: calc(-1 * var(--pad-inline));

            // more line height!
            line-height: 1.6;
        }
    }

    body > .page:has(> nav) header {
        // use body background colour
        background: linear-gradient(
            to right,
            transparent var(--sl-sidebar-width),
            var(--sl-color-bg) var(--sl-sidebar-width)
        );
        // color-mix(in srgb, var(--sl-color-bg) 80%, transparent) var(--sl-sidebar-width)
        // backdrop-filter: blur(20px);

        // TODO: more padding on right

        // don't include border over sidebar
        border-image: linear-gradient(
                to right,
                transparent var(--sl-sidebar-width),
                var(--sl-color-hairline-shade) var(--sl-sidebar-width)
            )
            1;
    }

    header.header {
        // use body background colour
        background: var(--sl-color-bg);

        .title-wrapper {
            // negative space behind sidebar
            padding-inline-start: calc(
                max(
                        calc(var(--sl-sidebar-width) - 17.5rem),
                        var(--sl-sidebar-pad-x)
                    ) - var(--sl-nav-pad-x)
            );

            .site-title {
                gap: 0.5em;

                img {
                    height: 1.5em;
                }
            }
        }
    }

    #starlight__on-this-page {
        font-size: var(--sl-text-sm);

        // undo my other title changes...
        font-family: var(--sl-font);
        letter-spacing: initial;
    }
}

.sidebar-pane {
    // bigger gap between page list sections
    ul.top-level > li:not(:first-of-type) {
        margin-top: 1rem;
    }

    // make headers the same size as other text
    .group-label > span,
    a.large {
        font-size: var(--sl-text-sm);
    }

    li {
        // no indents/border
        margin-inline-start: 0;
        padding-inline-start: 0;
        border: none;

        a {
            // more greyed out colour
            color: var(--sl-color-gray-3);
            font-weight: inherit;

            // more subtle selection indicator
            &[aria-current='page'] {
                font-weight: inherit;
                color: var(--sl-color-text-accent);
                background-color: inherit;

                // don't change how badges look when page is selected
                .sl-badge {
                    --sl-color-bg-badge: var(--sl-badge-default-bg);
                    --sl-color-border-badge: var(--sl-badge-default-border);
                    color: var(--sl-badge-default-text);
                }
            }

            // nicer badges
            .sl-badge {
                font-family: var(--sl-font);
            }
        }
    }
}

// text selection colour
:root[data-theme='light'] ::selection {
    background-color: var(--sl-color-accent-low);
    color: var(--sl-color-accent-high);
}
:root ::selection {
    background-color: var(--sl-color-accent-high);
    color: var(--sl-color-accent-low);
}

// tighter titles
h1 {
    letter-spacing: -0.02em;
}

// title margins
.sl-markdown-content
    :not(h1, h2, h3, h4, h5, h6)
    + :is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)) {
    margin-top: 1.75em;
}
.sl-markdown-content :is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)) {
    margin-bottom: 1.5rem;
}

// jump to content button
body > a[href='#_top'] {
    border-radius: 0.5rem;

    background-color: var(--sl-color-accent-low);
    color: var(--sl-color-accent-high);
}
